img{
    width: 200px;
}
h2.title{
    padding-bottom: 2%;
    font-size: 1.3em;
    text-align: center;
}

.color{
    background-color: gold;
}

.blue{
    background-color: #59a9ff;
}

p strong.pr-5{
    padding-right: 73px !important;
}

.center{
    text-align: center;
}

.hidden{
    display: none;
}

#capture{
    width: 750px;
    height: 950px !important;
}



.down{
    background-color: rgb(237, 28, 36) !important;
    border-color: rgb(190, 21, 21) !important;
    color: white !important;
}

.down:hover{
    filter: brightness(110%) !important;
}


body{
    font-size: 12px;
}

p{
    margin-bottom: 0;
}

table th{
    padding: .5rem;
}

.navbar{
    background-color: #fff24d !important;
}

.nav-link{
    background-color: black;
    color: white !important;
    border-radius: 50%;
    border-color: white !important;
    border-style: solid !important;
    height: 35px;
    width: 35px;
    font-size: medium;
    text-align: center;
    vertical-align: center;
}

.fa{
  margin-top: 7px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mobile{
    position: absolute;
    right: 20%;
    font-size: large;
}

.phone-number{
    position: absolute;
    right: 3%;
    top:10%;
}

.search{
    background-color: #efe81a;
    border-color: #ffd53c;
    color: black;
}

.search:hover{
    background-color: #fffa70;
    border-color: white;
    color: #48443b;
}

.search:active{
    background-color: #efe81a !important;
    border-color: #ffd53c !important;
    color: black;
}