img{
    width: 200px;
}
h2.title{
    padding-bottom: 2%;
    font-size: 1.3em;
    text-align: center;
}

.color{
    background-color: gold;
}

.blue{
    background-color: #59a9ff;
}

p strong.pr-5{
    padding-right: 73px !important;
}

.center{
    text-align: center;
}

.hidden{
    display: none;
}

#capture{
    width: 750px;
    height: 950px !important;
}



.down{
    background-color: rgb(237, 28, 36) !important;
    border-color: rgb(190, 21, 21) !important;
    color: white !important;
}

.down:hover{
    filter: brightness(110%) !important;
}


body{
    font-size: 12px;
}

p{
    margin-bottom: 0;
}

table th{
    padding: .5rem;
}